[%-
SET meta_fields = [ 
  'isolation_method',
  'genbank_acc',
  'volume_unit',
  'filter_min',
  'filter_max',
  'comments',
  'collection_start_time',
  'collection_stop_time',
  'biomaterial_name',
  'material_acc',
  'site_name',
  'altitude',
  'site_depth',
  'site_description',
  'country_name',
  'region',
  'host_taxon_id',
  'host_description',
  'host_organism',
  'library_acc',
  'sequencing_method',
  'dna_type',
  'num_of_reads',
  'material_id',
  'other',
  'axenic',
  'chlorophyll',
  'clonal',
  'dissolved_oxygen',
  'doc',
  'elevation',
  'external_sample_id',
  'filter_fraction_maximum',
  'filter_fraction_minimum',
  'list_of_amino_acids_and_concentrations_with_units',
  'poc',
  'prelim_ncbi_taxon_id',
  'pressure',
  'prey_organism_if_applicable',
  'total_fe',
  'urea',
  'volume_filtered',
  'pcr_amp',
  'abundance_bacterial_cells_ml',
  'abundance_bacterial_cells_ml_h',
  'abundance_synechococcus_cells_ml',
  'alkalinityalk_mm',
  'altitude_m',
  'aluminiumal_um',
  'ammonianh4_um',
  'ammonium_umol_kg',
  'antimonysb_um',
  'arsenicas_um',
  'atmospheric_general_weather',
  'atmospheric_pressure_atm',
  'atmospheric_wind_speed_m_s',
  'bacterial_production_cells_ml_h',
  'bariumba_um',
  'biofilm_g',
  'biomass_concentration_ug_kg',
  'biomass_mass_g',
  'boronb_um',
  'caesiumcs_um',
  'calciumca_um',
  'carbon_dioxideco2_um',
  'carbon_dioxideco2_umol_kg',
  'cdom_rfu',
  'cfu_cjejuni_cfu',
  'charge__mmol',
  'charge_mmol',
  'chla_mg_1000l',
  'chlorinitycl_mm',
  'chlorinitycl_um',
  'chlorophyll_density_annual_ug_kg',
  'chlorophyll_density_annual_ug_l',
  'chlorophyll_density_psu',
  'chlorophyll_density_sample_month_ug_kg',
  'chlorophyll_density_ug_kg',
  'chloropigment',
  'comment',
  'current_land_use',
  'dissolved_inorg_cdic_mm',
  'dissolved_inorg_cdic_um',
  'dissolved_inorganic_carbon_umol_kg',
  'dissolved_inorganic_nitrogen_umol_l',
  'dissolved_inorganic_phosphate_nmol_kg',
  'dissolved_organic_carbon_um',
  'dissolved_organic_carbon_umol_kg',
  'dissolved_organic_nitrogen_umol_kg',
  'dissolved_oxygen_nmol_kg',
  'dissolved_oxygen_umol_kg',
  'filter_type',
  'filter_type_m',
  'fluorescence_ug_l',
  'fluorinef_um',
  'gene_name',
  'glucose_mg',
  'h2_um',
  'habitat_name',
  'health_status',
  'host_name',
  'host_species',
  'host_tissue',
  'ironfe_um',
  'isolation',
  'leg',
  'leucine_umol_kg',
  'light_intensity_umol_m2_s',
  'lithiumli_um',
  'magnesiummg_um',
  'manganesemn_um',
  'mean_annual_precipitation_cm',
  'methane_um',
  'method_of_isolation',
  'molybdenummo_um',
  'nitratenitrite_nmol_kg',
  'nitrateno3_um',
  'nitrateno3_umol_l',
  'nitrite_umol_l',
  'number_of_samples_pooled',
  'number_of_stations_sampled',
  'nutrients_dmsp_nm',
  'nutrients_nh4_microm',
  'nutrients_nox_microm',
  'nutrients_po3_microm',
  'nutrients_po4_microm',
  'nutrients_potassium_phosphate_um',
  'nutrients_putrescine_c4h12n2_nm',
  'nutrients_so4_microm',
  'nutrients_sodium_nitrate_um',
  'nutrients_spermidine_c7h19n3_nm',
  'other_habitat',
  'oxygen',
  'oxygen_mass_um',
  'oxygen_um',
  'oxygen_umol_kg',
  'particulate_carbon_umol_kg',
  'particulate_nigrogen_umol_kg',
  'particulate_nitrogen_umol_kg',
  'particulate_organic_carbon_umol_kg',
  'particulate_phosphate_umol_kg',
  'phage_type',
  'phosphate_umol_kg',
  'phosphate_umol_l',
  'plant_cover',
  'potassium',
  'potassiumk_um',
  'pressure_atm',
  'rain_fall',
  'rubidiumrb_um',
  'salinity_ppm',
  'salinity_psu',
  'sample_depth',
  'sample_depth_m',
  'sigma_kg_1000l',
  'silicah4sio4_um_l',
  'silicate_umol_kg',
  'siliconsi_um',
  'siliconsi_umol_l',
  'sodium',
  'sodium_um',
  'soil_depth_m',
  'soil_type',
  'strontiumsr_um',
  'sulfateso4_mm',
  'sulfateso4_um',
  'sulfurs2_um',
  'temperature',
  'temperature_c',
  'template_preparation_method',
  'theta_its_90',
  'time_count',
  'time_hour',
  'transmission',
  'treatment',
  'tungstenw_um',
  'turbidity_ntu',
  'turbidity_umol_kg',
  'urea_umol_l',
  'vanadiumv_um',
  'viral_abundance_viruses_ml',
  'viral_production_viruses_ml_h',
  'volume_filtered_l',
  'volume_l',
  'water_depth',
  'water_depth_m',
  'wave_height_m',
  'zinczn_um',
  'bact_chl_a_ug_l',
  'bchl_cd_ug_l',
  'bchl_e_ug_l',
  'organism_count',
  'sulfide_um',
  'total_phosphorus'
]
-%]

[%-
  SET download_files = [];
  FOREACH ft IN ['reads', 'annotations', 'peptides', 'contigs', 'cds']; 
    SET file = ft _ '_file';
    IF sample.$file;
      download_files.push({ ft = ft, file = sample.$file });
    END;
  END;
-%]

[%- SET show_map = sample.latitude AND sample.longitude; %]
[% IF show_map %]
<script type="text/javascript">
var map;
function initialize() {
    var pos = new google.maps.LatLng([% sample.latitude %], [% sample.longitude %]);

    map = new google.maps.Map(document.getElementById("map-canvas"), 
          { center: pos, zoom: 3 });

    var marker = new google.maps.Marker({
        position: pos,
        title: '[% sample.sample_name %]'
    });

    marker.setMap(map);
    map.setCenter(pos);
}

$(document).ready(function() {
  google.maps.event.addDomListener(window, "load", initialize);

  $('a[href="#map"]').on('shown.bs.tab', function(e) {
    lastCenter=map.getCenter();
    google.maps.event.trigger(map, 'resize');
    map.setCenter(lastCenter);
  });
});
</script>

[% END %]

<div class="row">
  <h1 id="nav-tabs">Sample: [% sample.sample_name %]</h1>
  <div class="bs-component">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
      <li><a href="#env" data-toggle="tab">Environment</a></li>
      <li><a href="#exp" data-toggle="tab">Experiment</a></li>
      <li><a href="#meta" data-toggle="tab">Meta</a></li>
      <li><a href="#other" data-toggle="tab">Other</a></li>
      <li><a href="#downloads" data-toggle="tab">Downloads ([% download_files.size OR '0' %])</a></li>
      [% IF show_map %]<li><a href="#map" data-toggle="tab">Map</a></li>[% END %]
    </ul>

    <div id="tabContent" class="tab-content">
      <div class="tab-pane fade active in" id="info">
        <br/>
        <table class="table">
          <tr>
            <th>Sample Name</th>
            <td>[% sample.sample_name %]</td>
          </tr>
          <tr>
            <th>Sample Type</th>
            <td>[% sample.sample_type %]</td>
          </tr>
          <tr>
            <th>Project</th>
            <td>
              <a href="/project/view/[% sample.project_id %]">[% sample.project_name %]</a>
            </td>
          </tr>
          <tr>
            <th>PI</th>
            <td>
              [% sample.pi OR sample.principle_investigator OR 'N/A' %]
            </td>
          </tr>
          <tr>
            <th>Description</th>
            <td>
              [% FOREACH fld IN [ 'description', 'sample_description' ] %]
                [% SET val = sample.$fld %]
                [% IF val %]
                  <p>
                  [% val.replace('\n\n', '<p>') OR 'N/A' %]
                [% END %]
              [% END %]
            </td>
          </tr>
          [% IF sample.mmetsp_id %]
            <tr>
              <th>MMETSP ID</th>
              <td>
                [% sample.mmetsp_id %]
              </td>
            </tr>
          [% END %]
          <tr>
            <th>Sample Accession</th>
            <td>[% sample.sample_acc OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Assembly</th>
            <td>
              [% IF sample.assembly_accession_number %]
                <a href="/assembly/view/[% sample.assembly_accession_number %]">[% sample.assembly_accession_number %]</a> 
              [% ELSE %]
                N/A
              [% END %]
            </td>
          </tr>
          [% IF sample.combined_assembly_name %]
            <tr>
              <th>Combined Assembly</th>
              <td>
                [% IF sample.combined_assembly_name %]
                  <a href="/combined_assembly/view/[% sample.combined_assembly_name %]">[% sample.combined_assembly_name %]</a> 
                [% ELSE %]
                  N/A
                [% END %]
              </td>
            </tr>
          [% END %]
          <tr>
            <th>Taxon ID</th>
            <td>
              [% IF sample.taxon_id %]
                <a href="http://www.ncbi.nlm.nih.gov/taxonomy/?term=[% sample.taxon_id %]">[% sample.taxon_id %]</a>
              [% ELSE %]
                N/A
              [% END %]
            </td>
          </tr>
          <tr>
            <th>Superkingdom</th>
            <td>[% sample.superkingdom OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Order</th>
            <td>[% sample.torder OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Phylum</th>
            <td>[% sample.phylum OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Genus</th>
            <td>[% sample.genus OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Species</th>
            <td>[% sample.species OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Strain</th>
            <td>[% sample.strain OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Importance of organism and transcriptomes</th>
            <td>[% sample.importance OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Additional citations and references</th>
            <td>[% sample.additional_citations OR 'N/A' %]</td>
          </tr>
        </table>
      </div>

      <div class="tab-pane fade" id="env">
        <br/>
        <table class="table">
          <tr>
            <th>Primary citation for organism's characterization, if available</th>
            <td>
              [% IF sample.primary_citation.match('^https?://') %]
                <a href="[% sample.primary_citation %]">[% sample.primary_citation %]</a>
              [% ELSE %]
                [% sample.primary_citation OR 'N/A' %]
              [% END %]
            </td>
          </tr>
          <tr>
            <th>Latitude</th>
            <td>[% sample.latitude OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Longitude</th>
            <td>[% sample.longitude OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Depth (m)</th>
            <td>[% sample.depth OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Salinity (psu)</th>
            <td>[% sample.environmental_salinity OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Temperature (&deg;C)</th>
            <td>[% sample.environmental_temperature OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Collection Date</th>
            <td>[% sample.collection_date OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Collection Time</th>
            <td>[% sample.collection_time OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Sample Collection Site</th>
            <td>[% sample.sample_collection_site OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Other Collection Site Info</th>
            <td>[% sample.other_collection_site_info OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Sample Material</th>
            <td>[% sample.sample_material OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Other Envionmental Metadata</th>
            <td>[% sample.other_environmental_metadata_available OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Habitat</th>
            <td>[% sample.habitat OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Habitat Description</th>
            <td>[% sample.habitat_description OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Primary ENVO Habitat Term</th>
            <td>[% sample.envo_term_for_habitat_primary_term OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Secondard ENVO Habitat Term</th>
            <td>[% sample.envo_term_for_habitat_secondary_term OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Country</th>
            <td>[% sample.country OR 'N/A' %]</td>
          </tr>
        </table>
      </div>

      <div class="tab-pane fade" id="exp">
        <br/>
        <table class="table">
          <tr>
            <th>Date of Experiment</th>
            <td>[% sample.date_of_experiment OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Growth Medium</th>
            <td>[% sample.growth_medium OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Modifications to Growth Medium</th>
            <td>[% sample.modifications_to_growth_medium OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Salinity (psu)</th>
            <td>[% sample.experimental_salinity OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Temperature (&deg;C)</th>
            <td>[% sample.experimental_temperature OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>pH</th>
            <td>[% sample.ph OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Light (&micro;mol photons / m2 / sec)</th>
            <td>[% sample.light OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Day portion of day:night cycle in hours</th>
            <td>[% sample.day_portion_of_day_night_cycle_in_hours OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Night portion of day:night cycle in hours</th>
            <td>[% sample.night_portion_of_day_night_cycle_in_hours OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Nitrate (&micro;mol/L)</th>
            <td>[% sample.nitrate OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Phosphate (&micro;mol/L)</th>
            <td>[% sample.phosphate OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Silicate (&micro;mol/L)</th>
            <td>[% sample.silicate OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Ammonium (&micro;mol/L)</th>
            <td>[% sample.ammonium OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Total Trace Elements (nmol/L)</th>
            <td>[% sample.trace_elements OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>CO2 (ppm)</th>
            <td>[% sample.co2 OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Investigation Type</th>
            <td>[% sample.investigation_type OR 'N/A' %]</td>
          </tr>
          <tr>
            <th>Other Experimental Metadata</th>
            <td>[% sample.other_experimental_metadata_available OR 'N/A' %]</td>
          </tr>
          [% FOREACH fld IN  [ 'rrna_18s', 'rrna_16s' ] %]
            [% IF sample.$fld %]
              <tr>
                <th>[% fld %]</th>
                <td>
                  <pre>[% sample.$fld.chunk(50).join("\n") %]</pre>
                </td>
              </tr>
            [% END %]
          [% END %]
        </table>
      </div>

      <div class="tab-pane fade" id="downloads">
        <br/>
        [% IF download_files.size > 0 %]
          <ul>
            [% FOREACH f IN download_files %]
            <li><a href="[% f.file %]"><img src="/img/file_gz.png">&nbsp;[% f.ft.ucfirst %]</a>
            [% END %]
          </ul>
        [% ELSE %]
          None.
        [% END %]
        </p>
      </div>

      <div class="tab-pane fade" id="meta">
        <br/>
        <table class="table">
          [% FOREACH fld IN meta_fields.sort %]
            <tr>
              <th>[% fld.replace('_', ' ').ucfirst %]</th>
              <td>[% sample.$fld OR 'N/A' %]</td>
            </tr>
          [% END %]
        </table>
      </div>

      <div class="tab-pane fade" id="other">
        <br/>
        <table class="table">
          [% FOREACH attr IN sample.attrs %]
            <tr>
              <th>[% attr.type %]</th>
              <td>
                [% IF attr.url_template; USE f=String(attr.attr_value); SET url=f.format(attr.url_template); %]<a href="[% url %]">[% END %][% attr.attr_value %][% IF attr.url_template %]</a>[% END %]
              </td>
            </tr>
          [% END %]
        </table>
      </div>

      [% IF show_map %]
      <div class="tab-pane fade" id="map">
        <br/>
        <div id="map-canvas"></div>
      </div>
      [% END %]
    </div>
  </div>
</div>
