<div class="text-center">
  <a class="btn btn-default" href="/admin/edit_project/[% page.project_id %]">Back To Project</a>
  <a class="btn btn-default" href="/admin/view_project_pages/[% page.project_id %]">Back To Project Pages</a>
</div>

<h3>Create Page for &quot[% page.project.project_name | truncate(40) %]&quot;</h3>

<div class="row">
  <form role="form" method="post" action="/admin/update_project_page">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title" value="[% page.title %]">
    </div>

    <div class="form-group">
      <label for="display_order">Display Order</label>
      <input type="text" class="form-control" id="display_order" name="display_order" value="[% page.display_order OR '1' %]">
    </div>

    <div class="form-group">
      <label for="contents">Contents</label>
      <textarea id="contents" name="contents" class="form-control" rows="10">[% page.contents %]</textarea>
    </div>

    <div class="form-group">
      <label for="format">Format</label>
      <select name="format" class="form-control">
        <option[% IF page.format == 'html'; ' selected'; END %]>HTML</option>
        <option[% IF page.format == 'markdown'; ' selected'; END %]>Markdown</option>
      </select>
    </div>

    <div class="text-center">
      <input type="hidden" name="project_id" value="[% project.project_id %]">
      <input type="hidden" name="project_page_id" value="[% page.project_page_id %]">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
