[% USE Comma %]
<div class="row">
<h1>[% title %]</h1>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Domain of Life</th>
    <th>Count</th>
  </tr>
  </thead>
  <tbody>
  [% FOREACH project IN projects %]
      <tr>
        <td><a href="[% project.url %]">[% project.domain_name %]</a></td>
        <td align="right">[% project.count | comma %]</td>
      </tr>
  [% END %]
  </tbody>
</table>
</div>
